# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- OUTPUT DIRECTORIES ---
# --- OUTPUT DIRECTORIES ---
# Track all files in these folders
!panelA_diff_plots/
!panelA_diff_plots/**
!panelB_heatmap_pathway_plots/
!panelB_heatmap_pathway_plots/**
!panelC_heatmap_LR_plots/
!panelC_heatmap_LR_plots/**

# Temp files
*.tmp

